networks:
  default:
    name: tg

services:
  tgposter-api:
    volumes:
      - ./api-logs:/app/logs
    container_name: tgposter-api
    image: ${TGPOSTER_API_IMAGE:-ghcr.io/evilvegetarian/tgposter-api:latest}
    restart: unless-stopped
    ports:
      - '8070:8070' 
    user: "1654:1654"
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      ASPNETCORE_URLS: "http://+:8070"
      DataBase__ConnectionString: ${CONNECTIONSTRING:-Host=localhost;Username=admin;Password=admin;Database=tg-db}
      JwtOptions__SecretKey: ${TGPOSTER_API_JWTOPTIONS_SECRETKEY}
      TelegramOptions__SecretKey: ${TELEGRAMOPTIONS_SECRETKEY}
      OpenRouterOptions__SecretKey: ${OPENROUTEROPTIONS_SECRETKEY}
      S3Options__AccessKey: ${S3OPTIONS_ACESSKEY}
      S3Options__SecretKey: ${S3OPTIONS_SECRETKEY}
      S3Options__ServiceUrl: ${S3OPTIONS_SERVICEURL}
      S3Options__BucketName: ${S3OPTIONS_BUCKETNAME}