name: Build and deploy for one server

on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-api:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push tgposter-api
        uses: docker/build-push-action@v5
        with:
          context: .
          file: TgPoster.API/Dockerfile
          push: true
          tags: ghcr.io/evilvegetarian/tgposter-api:latest

      - name: Upload docker-compose.api.yml
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-api
          path: docker/docker-compose.api.yml

  build-worker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push tgposter-worker
        uses: docker/build-push-action@v5
        with:
          context: .
          file: TgPoster.Worker/Dockerfile
          push: true
          tags: ghcr.io/evilvegetarian/tgposter-worker:latest

      - name: Upload docker-compose.worker.yml
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-worker
          path: docker/docker-compose.worker.yml

  build-frontend:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push tgposter-frontend
        uses: docker/build-push-action@v5
        with:
          context: ./client
          file: client/Dockerfile
          push: true
          tags: ghcr.io/evilvegetarian/frontend:latest

      - name: Upload docker-compose artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-compose-frontend
          path: docker/docker-compose.frontend.yml

  deploy:
    needs: [ build-api, build-worker, build-frontend ]
    runs-on: [ self-hosted, runner ]

    steps:
      - name: Download all docker-compose artifacts
        uses: actions/download-artifact@v4
        with:
          path: .

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create .env file
        run: |
          export API_URL='${{ secrets.API_URL }}'
          export VITE_API_URL='${{ secrets.API_URL }}'
          export CONNECTIONSTRING='${{ secrets.CONNECTIONSTRING }}'
          export TGPOSTER_API_JWTOPTIONS_SECRETKEY='${{ secrets.JWTOPTIONS_SECRETKEY }}'
          export TELEGRAM_API_ID='${{ secrets.API_ID }}'
          export TELEGRAM_API_HASH='${{ secrets.API_HASH }}'
          export TELEGRAM_PHONE_NUMBER='${{ secrets.PHONE_NUMBER }}'
          export TELEGRAMOPTIONS_SECRETKEY='${{ secrets.TELEGRAMOPTIONS_SECRETKEY }}'
          export OPENROUTEROPTIONS_SECRETKEY='${{ secrets.OPENROUTEROPTIONS_SECRETKEY }}'

      - name: Pull latest images and restart containers
        run: |
          docker-compose -f docker-compose.worker.yml -f docker-compose.api.yml -f docker-compose.frontend.yml pull
          docker-compose -f docker-compose.worker.yml -f docker-compose.api.yml -f docker-compose.frontend.yml up -d

      - name: Clean up old docker images and containers
        if: always()
        run: |
          docker container prune -f
          docker image prune -a -f